.behindProject {
	width: 100%;
	max-width: 1223px;
	text-align: left;
	margin: 0 auto;
	position: relative;
	.yesNo {
		position: relative;
		@media (max-width: 768px) {
			text-align: center;
		}
		.nft8 {
			position: absolute;
			right: -20%;
			left: auto;
			top: -30%;
			width: 696px;
			height: auto;
			@media (max-width: 768px) {
				display: none;
			}
		}
		img {
			position: relative;
			width: 282px;
			height: auto;
			@media (max-width: 768px) {
				width: 150px;
				margin-bottom: 20px;
			}
		}
	}
	h2 {
		margin-bottom: 82px;
	}
	.bpContainer {
		width: 100%;
		width: 100%;
		position: relative;
		p {
			max-width: 1098px;
			margin-bottom: 36px;
		}
		img {
			position: absolute;
			right: 0;
			bottom: 30px;
			left: auto;
			width: 85px;
			height: auto;
			@media (max-width: 768px) {
				display: none;
			}
		}
	}
	.wowImg {
		width: 100%;
		text-align: right;
		margin-top: -45px;
		img {
			width: 100%;
			max-width: 273px;
			height: auto;
		}
	}
}
