@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Red+Hat+Display:wght@400;700&display=swap');

$fontFamily: 'Red Hat Display', sans-serif;
$titleFont: 'Audiowide', cursive;

$color1: #01081b;
$color2: #ffffff;

$fontColor: white;
