.header {
	margin: 20px auto 100px;
	width: 100%;
	text-align: center;
	.headerImg {
		width: 100%;
		max-width: 1223px;
		margin: 0 auto;
	}
	.yearbookList {
		text-align: center;
		display: block;
		margin: 0 auto;
		img {
			max-width: 400px;
			width: 100%;
			height: auto;
		}
	}
	.headerContainer {
		@include centerBox();
		margin-top: 100px;
		@media (max-width: 600px) {
			margin-top: 20px;
		}
		.imgBox {
			width: 100%;
			max-width: 288px;
			@include centerBox();
			flex-direction: column;
			@media (max-width: 600px) {
				display: none;
			}
			.cassette {
				width: 100%;
				max-width: 160px;
				height: auto;
				margin-bottom: 37px;
			}
			.stereo {
				margin-top: 37px;
				width: 100%;
				max-width: 240px;
				height: auto;
			}
		}
		.textCont {
			max-width: 590px;
			width: 100%;
			padding: 5px;
			margin: 0 15px 0;
			p {
				margin-bottom: 34px;
			}
		}
	}
}
