.header {
	margin: 20px auto 100px;
	width: 100%;
	text-align: center;
	@media (max-width: 768px) {
		margin: 20px auto 20px;
	}
	.headerImg {
		width: 100%;
		max-width: 1223px;
		margin: 0 auto;
	}
	.callToActions {
		margin: 0 auto;
		max-width: 800px;
		width: 100%;
		@include centerBox(space-evenly, center);
		.emailList {
			width: 350px;
			margin: 0 auto;

			strong {
				background: linear-gradient(
					266.69deg,
					rgba(255, 255, 255, 0.4) 2.73%,
					rgba(255, 255, 255, 0) 97.27%
				);
				box-shadow: 0px 4px 24px -1px rgb(0 0 0 / 10%);
				-webkit-backdrop-filter: blur(40px);
				backdrop-filter: blur(40px);
				padding: 10px 30px;
				border-radius: 40px;
			}
		}
		.yearbookList {
			text-align: center;
			display: block;
			margin: 0 auto;
			img {
				max-width: 350px;
				width: 100%;
				height: auto;
			}
		}
	}
	.headerContainer {
		@include centerBox();
		margin-top: 100px;
		@media (max-width: 768px) {
			margin-top: 20px;
		}
		.imgBox {
			width: 100%;
			max-width: 288px;
			@include centerBox();
			flex-direction: column;
			@media (max-width: 768px) {
				display: none;
			}
			.cassette {
				width: 100%;
				max-width: 160px;
				height: auto;
				margin-bottom: 37px;
			}
			.stereo {
				margin-top: 37px;
				width: 100%;
				max-width: 240px;
				height: auto;
			}
		}
		.textCont {
			max-width: 590px;
			width: 100%;
			padding: 5px;
			margin: 0 15px 0;
			p {
				margin-bottom: 34px;
			}
		}
	}
}
