.navbar {
	width: 100%;
	@include centerBox(space-between, center);
	max-width: 1200px;
	margin: 80px auto 0;
	@media (max-width: 768px) {
		margin-top: 20px;
	}
	.linksNav {
		@include centerBox();
		a {
			display: flex;
			padding: 10px;
			font-size: 18px;
			@media (max-width: 768px) {
				font-size: 20px;
				padding: 10px;
			}
			&:first-child {
				border-bottom: 1px solid white;
			}
			&:hover {
				color: #b1b1b1;
			}
		}
	}
	.socialLinks {
		@include centerBox();
		@media (max-width: 768px) {
			margin: 0 auto;
		}
		a {
			display: flex;
			margin: 12px;
			img {
				width: 32px;
				height: auto;
			}
		}
	}
}
