.keySection {
	margin: 200px auto 300px;
	width: 100%;
	max-width: 1200px;
	text-align: right;
	position: relative;
	@media (max-width: 768px) {
		margin: 100px auto;
	}
	h2 {
		padding-top: 25px;
	}
	p {
		max-width: 976px;
		margin: 20px 0 20px auto;
	}
	.keybox {
		@include centerBox(flex-end, center);

		img {
			max-width: 100px;
			height: auto;
			margin: 15px;
		}
	}
	.keyIcon {
		width: 100%;
		max-width: 181px;
		height: auto;
		display: flex;
		@media (max-width: 768px) {
			margin: 0 auto;
		}
	}
	.imgColumn {
		max-width: 220px;
		position: absolute;
		left: 0;
		top: 100px;
		img {
			margin-bottom: 20px;
		}
		@media (max-width: 768px) {
			display: none;
		}
	}
}
