.wmSpecial {
	max-width: 1098px;
	.wmHeader {
		@include centerBox(space-between, center);
		h2 {
			@media (max-width: 768px) {
				order: 2;
				margin: 0 auto 50px;
			}
		}
		img {
			width: 100%;
			max-width: 395px;
			height: auto;
			@media (max-width: 768px) {
				order: 1;
				max-width: 250px;
				margin: 0 auto;
			}
		}
	}
	.wmSpecialCont {
		max-width: 1098px;
		p {
			margin-bottom: 42px;
		}
	}
}
