.wmSpecial {
	max-width: 1098px;
	.wmHeader {
		@include centerBox(space-between, center);
		img {
			width: 100%;
			max-width: 395px;
			height: auto;
		}
	}
	.wmSpecialCont {
		max-width: 1098px;
		p {
			margin-bottom: 42px;
		}
	}
}
